<div ng-controller="EventController" style="padding-left:20px; padding-right:20px">
  <img [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="span11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'USD':true}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr>

  <h3>Sessions
      <div class="btn-group btn-group-sm" style="margin-right:20px; margin-left:20px">
        <button class="btn btn-default" [ngClass]="{active: sortedByName}" (click)="sortByName()">By Name</button>
        <button class="btn btn-default" [ngClass]="{active: sortedByVote}" (click)="sortByVoteCount()">By Votes</button>
      </div>
      
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" [ngClass]="{active: isActiveFilter('all')}" (click)="filterSessions('all')">All</button>
        <button class="btn btn-default" [ngClass]="{active: isActiveFilter('beginner')}" (click)="filterSessions('beginner')">Beginner</button>
        <button class="btn btn-default" [ngClass]="{active: isActiveFilter('intermediate')}" (click)="filterSessions('intermediate')">Intermediate</button>
        <button class="btn btn-default" [ngClass]="{active: isActiveFilter('advanced')}" (click)="filterSessions('advanced')">Advanced</button>
      </div>
    
  </h3>

  
  <br>
  <br>
  <!--Show:
  <select name="" id="" ng-model="query.level" class="input-medium">
    <option value="" selected>All</option>
    <option value="introductory" >Introductory</option>
    <option value="intermediate" >Intermediate</option>
    <option value="advanced" >Advanced</option>
  </select>-->
  <div class="row" *ngFor="let session of visibleSessions">
    <div class="col-md-1">
      <upvote (upVote)="upVoteSession(session)" 
        (downVote)="downVoteSession(session)" 
        [count]="session.voteCount"></upvote>
    </div>
    <div class="well col-md-11">
      {{session.name}}
      <collapsible title="{{session.name}}">
          <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
          <span>Duration: {{session.duration}}</span><br />
          <span>Level: {{session.level}}</span>

          <p>{{session.abstract}}</p>
      </collapsible>
    </div>
  </div>
</div>