<div ng-controller="EventController" style="padding-left:20px; padding-right:20px">
  <img [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'USD':true}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-2">
      <h3 style="margin:0">Sessions</h3>
    </div>
    <div class="col-md-8">
        <div class="btn-group btn-group-sm" style="margin-right:20px; margin-left:20px">
          <button class="btn btn-default" [class.active]="isSorted('name')" (click)="sortByName()">By Name</button>
          <button class="btn btn-default" [class.active]="isSorted('vote')" (click)="sortByVoteCount()">By Votes</button>
        </div>
        
        <div class="btn-group btn-group-sm">
          <button class="btn btn-default" [class.active]="isFiltered('all')" (click)="filterSessions('all')">All</button>
          <button class="btn btn-default" [class.active]="isFiltered('beginner')" (click)="filterSessions('beginner')">Beginner</button>
          <button class="btn btn-default" [class.active]="isFiltered('intermediate')" (click)="filterSessions('intermediate')">Intermediate</button>
          <button class="btn btn-default" [class.active]="isFiltered('advanced')" (click)="filterSessions('advanced')">Advanced</button>
        </div>
    </div>
    <div class="col-md-2">
      <a href="#">Add Session</a>
  </div>
  
  <br>
  <br>
  <div class="row" *ngFor="let session of visibleSessions">
    <div class="col-md-1">
      <upvote (vote)="toggleVote(session)" 
        [count]="session.voteCount"></upvote>
    </div>
    <div class="col-md-10" style="margin-left:10px;">
      <collapsible-well [title]="session.name">
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration}}</span><br />
          <span>Level: {{session.level}}</span>

          <p>{{session.abstract}}</p>
      </collapsible-well>
    </div>
  </div>
</div>